@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  min-height: 100vh;
  width: 100%;
  background-image: url("../images/image2.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.app {
  height: 100%;
  width: 100%;
}

.navbar {
  width: 100%;
  padding: 0 80px;
  background: rgba(4, 136, 4, 0.285);
  position: fixed;
  top: 0;
  z-index: 100;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}

.logodiv a {
  font-size: 35px;
  font-weight: 600;
  color: white;
}

.links li {
  display: inline-block;
  list-style: none;
}

.links a {
  font-size: 15px;
  color: white;
  font-weight: 400;
  margin-right: 25px;
}

.links a:hover {
  color: rgba(255, 255, 255, 0.733);
}

.links > button {
  border: none;
}

.login {
  color: white;
  background-color: transparent;
  margin-left: 50px;
}

.login a {
  margin-right: 0px;
  font-size: 15px;
  color: white;
  font-weight: 400;
}

.signup {
  background: white;
  border-radius: 50px;
  padding: 12px 23px;
  margin-left: 20px;
}

.signup a {
  color: black;
  margin-right: 0px;
  font-size: 15px;
  font-weight: 400;
}

.signup a:hover {
  color: rgb(63, 63, 63);
}

/* main Starts Here */

.main {
  width: 100%;
  padding: 0 90px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  color: white;
  padding-top: 350px;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.blur-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;

  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);

  mask-image: linear-gradient(to top, black 70%, transparent 100%);
  -webkit-mask-image: linear-gradient(to top, black 70%, transparent 100%);
}

.content {
  position: relative;
  z-index: 2;
}

.main h3 {
  font-size: 20px;
}

.main h1 {
  font-size: 50px;
  font-weight: 400;
}

.btndiv {
  display: flex;
  padding-top: 20px;
  gap: 20px;
}

.btn {
  border-radius: 50px;
  padding: 12px 23px;
  cursor: pointer;
}

.btn1 {
  background: rgb(176, 234, 59);
  display: flex;
  align-items: center;
  gap: 10px;
}

.arrow {
  height: 25px;
  width: 25px;
  background: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow > img {
  height: 21px;
  width: 20px;
}

.btn2 {
  background: white;
}

.btn a {
  color: black;
}

.footer {
  z-index: 8;
  height: auto;
  width: 100%;
  background: #214d28;
  color: rgba(255, 255, 255, 0.65);
  padding: 45px 82px 0px 82px;
  /* border: 1px solid white; */
}

.footer a {
  color: rgba(255, 255, 255, 0.65);
}

.footer a:hover {
  color: rgba(255, 255, 255, 0.785);
}

.footer ul {
  list-style: none;
  display: flex;
}

.ftop {
  height: auto;
  width: 100%;
  display: flex;
  border-bottom: 2px solid rgba(255, 255, 255, 0.65);
}

.ftleft {
  height: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid white; */
}

.flogo {
  width: 100%;
  padding-bottom: 21px;
}

.flogo a {
  font-size: 35px;
  font-weight: 600;
}

.fpages {
  width: 100%;
  display: flex;
  gap: 25px;
  padding-bottom: 19px;
}

.fpages ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.fpages a {
  font-size: 15px;
}

.fsocial {
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
  padding-right: 20px;
  padding-bottom: 40px;
}

.fsocial a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.fsocial img {
  width: 30px;
  height: 30px;
  fill: rgba(255, 255, 255, 0.65);
}

.fsocial svg {
  width: 30px;
  height: 30px;
  fill: rgba(255, 255, 255, 0.65);
}

/* Suscribe Email */

.ftright {
  height: auto;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
  padding-left: 180px;
  padding-top: 30px;
}

.ftright > p {
  font-size: 18px;
}
.emaildiv {
  width: 100%;
}

.emaildiv form {
  display: flex;
  align-items: center;
}

.emaildiv input {
  height: 42px;
  width: 300px;
  
  font-size: 15px;
  padding: 0 20px;
  background-color: #214d28;
  border: 1px solid rgba(255, 255, 255, 0.65);
  outline: none;
  color: rgba(255, 255, 255, 0.65);
  cursor: pointer;
}

.emaildiv input:active {
  height: 42px;
  width: 300px;
  background-color: #214d28;
  color: rgba(255, 255, 255, 0.65 );
}

/* .emaildiv input:focus {
  outline: none;  
} */

.emaildiv ::placeholder {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.65);
  font-weight: 450;
}

.emaildiv button {
  height: 42px;
  width: 100px;
  background-color: #214d28;
  border: 1px solid rgba(255, 255, 255, 0.65);
  border-left: none;
  color: rgba(255, 255, 255, 0.65);
  font-weight: 500;
  cursor: pointer;
}

.checkdiv {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkdiv p {
  font-size: 13px;
}

.checkbox {
  width: 17px;
  height: 17px;
  accent-color: #214d28;
  border: 1px solid #214d28;
  cursor: pointer;
}

.fbottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 14px 0 6px 0;
}

.fbottom a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.65);
  font-size: 14px;
  /* border-right: 2px solid rgba(255, 255, 255, 0.65); */
  /* padding-right: 16px; */
}
